/* top brands */ 

.top-brands {
  background-color: var(--base-color);
  color: #fff;  
}

.top-brands .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.single-brand {
  width: 23%;
}

.single-brand img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .top-brands .container { 
    flex-direction: column;
  }
  .single-brand {
    width: 100%;
  }
  .single-brand img {
    width: 100%;
    padding-bottom: 30px;
  }
}