.footer-menu {
  background-color: #333;
  color: #fff;
  font-weight: 200;
}

.footer-menu .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-menu .container div {
  width: 23%;
  padding-bottom: 50px;
}

.footer-menu .container div h2 {
  font-weight: 200;
  font-size: 30px;
}

.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-list li {
  border-bottom: 1px dashed #555;
  padding: 8px 0;
}

.footer-list li a {
  color: #fff;
}
.footer-list li a:hover {
  color: var(--base-color);
}

.copyright {
  background-color: #000;
  color: #fff;
  font-size: 14px;
  padding-bottom: 55px;
  padding-left: 35px;
}

@media (max-width: 768px) {
  .footer-menu .container {
    flex-direction: column;
  }
  .footer-menu .container div {
    width: 100%;
  }
}