/* Header */
nav ul {
  list-style: none; /* убираем маркеры */
  margin: 0; /* убираем системые отступы */
  padding: 0;
  display: flex;
  flex-flow: row wrap; /**/
  justify-content: flex-start;
}

nav ul li a {
  display: block;
  padding: 10px 20px 10px 0; 
}

nav ul li a i {
  margin-right: 10px;
}

header,
.top-menu,
.main-menu,
.brand-cart {
  width: 100%;
  display: block;
}

.top-menu {
  width: 100%;
  background-color: #f4f4f4;
  font-size: 14px;
}

.top-menu-list li a {
  color: var(--grey-color);
}

.top-menu-list li a:hover,
.top-menu-list li a:focus {
  --grey-color: var(--base-color);
}

.brand-cart .container {  
  display: flex;
  align-items: center;
  height: 124px;
  justify-content: space-between;
}

.brand a {
  color: var(--base-color);
}

.brand span {
  color: var(--grey-color);
}
.brand a:hover,
.brand a:active {
  text-decoration: none;
}

.cart {
  position: relative;  
  border: 1px solid #ddd;
}
.cart a {
  color: #777;
  display: block;
  padding: 12px;
  font-size: 18px;
}

.cart a span {
  font-weight: bold;
  color: var(--change-color);
}

.cart a .fa {
  padding-left: 10px;
}

.cart a:hover,
.cart a:active {
  text-decoration: none;
  color: #fff;
  background-color: var(--base-color);
  --change-color: #fff;
}

.product-count {
  border-radius: 10px;
  padding: 5px 8px;
  background-color: var(--base-color);
  font-size: 10px;
  position: absolute;
  top: -8px;
  right: -8px;
  color: #fff;
}

.main-menu {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--base-color);
  width: 100%;
}


.nav-item a {
  color: #fff;
  padding: 21px 20px;
}

.nav-item a:hover,
.nav-item a:active {
  text-decoration: none;
  background-color: #222;
}

.nav-item a:focus {
  text-decoration: none;
  background-color: #eee;
  color: #333;
}

@media (max-width: 768px) {
  .navbar ul {
    flex-flow: column wrap;
    justify-content: space-around;
  }
  .brand-cart {
    padding-bottom: 30px;
  }
  .brand-cart .container {
    justify-content: center;
    flex-direction: column;
  }
  .main-menu .container {
    padding: 0;
  }
  .cart {
    width: 100%;
  }
  nav ul {
    justify-content: center;
  }
  .brand {
    font-weight: normal;
  }
}